

$text-b: #2a445f;
$w: #fff;
$vs-blue: #74cee0;
$vs-yellow: #eec01c;



.nav-wrapper {
  z-index: 10;
  margin-bottom: 1.45rem;
  height: 100px;
  position: absolute;
  width: 100%;
  top: 0;
  .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.45rem 1.0875rem;
    a {
      text-decoration: none;
      .navnumber {
        font-family: 'Avenir',sans-serif;
        color: #fff;
        background: $text-b;
        padding: 10px 26px;
        border-radius: 4px;
      }
    }
  }
}


// First impression area
.firstwrapper {
  z-index: 8;
  background: linear-gradient( $w , $vs-blue );
  height: 700px;
  overflow: hidden;
  clip-path: polygon(0% 0, 100% 0%, 100% 80%, 0 100%);
  .firstimpression {
    margin: 0 auto;
    max-width: 1140px;
    padding-top: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    .messaging {
      width: 450px;
      color: $text-b;
      h2 {
        text-transform: uppercase;
        font-size: 36px;
      }
      p {
        font-size: 14px;
        font-weight: 300;
      }
      .btn_row {
        margin-top: 40px;
        a {
          background: $vs-yellow;
          padding: 14px 30px;
          border-radius: 3px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
          color: $text-b;
          transition: .3s ease-in-out;
          &:hover {
            background: lighten($vs-yellow, 15%)
          }
        }
      }
    }
    .img_container {
      img {
        position: absolute;
        display: block;
        width: 800px;
        top: 175px;
        left: 350px;
      }
    }

  }
}

// Content

.content {
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 100%);
  z-index: -2;
  position: relative;
  overflow: hidden;
  margin-top: -150px;
  .inner {
    padding: 10rem 0rem;
    margin: 0 auto;
    max-width: 800px;
    color: $text-b;
    h3 {
      font-size: 1.2rem;
    }
    ul {
      li {
        font-size: .9rem;
      }
    }
    p {
      font-size: .9rem;
    }
    .partners {
      img {

      }
    }
  }
  .geo {
    position: absolute;
    top: -120px;
    left: -400px;
    width: auto;
    height: 950px;
  }
}


// Form
.form {
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0 80%);
    background: $text-b;
    height: 700px;
    padding: 3rem;
    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $w;
    }
    .image_container {
      margin-right: 125px;
    }
    .form_container {
      h3 {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.7rem;
      }
      p {
        width: 600px;
        font-size: .9rem;
        font-weight: 300;
      }
      form#basic-form {
        input {
          padding: 10px;
        }
      }
    }
}
